@import "src/app/styles/index.scss";

.root {
    position: relative;

    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 11;

    transition: 0.3s ease;
    transition-property: background-color;

    &.is-background {
        background-color: #171E27;
    }

    @include media-tablet() {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include media-tablet() {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include media-desktop() {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: space-between;

    @include media-desktop() {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (min-width: 1920px) {
        &.is-wide {
            max-width: unset!important;
        }
    }
}

.logo {
    width: 210px;
    height: 42px;

    & picture {
        width: 100%;
    }

    & img {
        object-fit: contain!important;
    }

    @include media-tablet() {
        width: 314px;
        height: 60px;
    }
}

.info {
    display: flex;
    align-items: center;
}

.links,
.socials {
    display: none;

    @include media-desktop() {
        display: flex;
    }
}

.links + .socials {
    margin-left: 60px;
}

.socials + .wallet {
    @include media-desktop() {
        margin-left: 60px;
    }
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;

    & + & {
        margin-left: 40px;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;

    & img {
        width: 100%;
    }

    & + & {
        margin-left: 20px;
    }
}

.link,
.social,
.wallet {
    cursor: pointer;
    
    transition: 0.3s ease;
    transition-property: opacity;

    &:hover {
        opacity: 0.6;
    }
}

.wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background: none;
    outline: none;
    border: none;
    padding: 0;

    & picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    @include media-tablet() {
        width: 36px;
    }
}

.burger {
    margin-left: 20px;

    @include media-tablet() {
        margin-left: 24px;
    }

    @include media-desktop() {
        display: none;
    }
}

.dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    box-sizing: border-box;

    padding-top: 130px;
    padding-bottom: 77px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(180deg, #171e27 67.5%, #252f3d 100%);

    transform: translateY(-100%);

    transition: 0.3s ease;
    transition-property: transform;

    &.is-active {
        transform: translateY(0);
    }

    @include media-tablet() {
        height: auto;
        padding-top: 152px;
        padding-bottom: 42px;
        border-radius: 0 0 32px 32px;
    }
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .dropdown-link {
        font-size: 30px;
        line-height: 70px;
        font-weight: 700;
        color: #FFFFFF;
        text-decoration: none;
    }

    @include media-tablet() {
        flex-direction: row;
        justify-content: space-between;
        width: 535px;
        margin-left: auto;
        margin-right: auto;
    }
}

.dropdown-socials {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-tablet() {
        display: none;
    }
}

.avatar {
    width: 32px;

    @include media-tablet() {
        width: 42px;
    }

    @include media-desktop() {
        margin-left: 40px;
    }
}